.addTofav {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: red;
}

.addTofav1 {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    color: white;
}

button.btn.btn-secondary.backbtn {
    float: left;
}

.backbtn i.fas.fa-chevron-left {
    font-size: 14px;
    margin-right: 5px;
}


